build/
package/linux/*.tar
package/linux/*.tar.gz
package/linux/*.tgz

*.a
*.d
*.dSYM/
*.dylib
*.exe
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.out
*.pc
*.so
*.so.*
*.tar
*.tar.gz
*.tgz

.cache/
.clangd/
.codex/
.codex
.DS_Store

PLAN_DEV_OPENSTUFFIT.md
examples/
reference_repos/
