build/
package/linux/plain/*.tar
package/linux/plain/*.tar.gz
package/linux/plain/*.tgz

*.a
*.d
*.dSYM/
*.dylib
*.exe
*.gcda
*.gcno
*.gcov
*.la
*.lo
*.o
*.out
*.pc
*.so
*.so.*
*.tar
*.tar.gz
*.tgz

.cache/
.clangd/
.codex/
.codex
.DS_Store

PLAN_*
memo.txt
examples/
reference_repos/
